@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

//### Primary
$Desaturated-Red: hsl(0, 36%, 70%);
$Soft-Red: hsl(0, 93%, 68%);
//### Neutral
$Dark-Grayish-Red: hsl(0, 6%, 24%);
//### Gradients
//$Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
//$Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.base  {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 'logo'
    'image'
    'content';
  grid-template-rows: 13% 38% 1fr;

  &__content {
    grid-area: content;
    padding: 4rem 2rem 5rem;

    &-logo {
      grid-area: logo;
      position: absolute;
      top: 5%;
      left: 8%;

      &_img {
        width: 7rem;
      }
    }

    &-info {
      display: grid;
      row-gap: 2rem;

      &_title {
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: $Desaturated-Red;
        font-weight: 300;
        letter-spacing: .6rem;
        margin-bottom: 1rem;

        & span {
          font-weight: 600;
          color: $Dark-Grayish-Red;
        }
      }

      &_desc {
        text-align: center;
        line-height: 1.3;
        font-size: 1rem;
        color: $Desaturated-Red;
      }

      &_form {
        position: relative;

        &_container {
          position: relative;
        }

        &_input {
          width: 100%;
          padding: 1rem 6rem 1rem 1rem;
          font-family: inherit;
          font-size: 1rem;
          border-radius: 2rem;
          outline: none;
          border: 1px solid $Desaturated-Red;
        }

        &_label {
          position: absolute;
          color: $Soft-Red;
          top: 4rem;
          left: 1rem;
          font-size: .9rem;
        }

        &_error {
          position: absolute;
          top: .7rem;
          right: 5rem;
        }

        &_btn {
          background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
          cursor: pointer;
          outline: none;
          border: none;
          width: 4rem;
          height: 3.1rem;
          border-radius: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          right: 0;

          &:hover {
            background: transparent;
            background-color: hsl(0, 80%, 86%);
            box-shadow: 0 4px 20px rgba(0,0,0,.4);
          }
        }
      }
    }
  }

  &__image {
    background-image: url('../images/hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: image;
  }
}

@media screen and (max-width: 330px) {
  .base {
    &__content {
      &-info {
        &_title {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .base {
    grid-template-areas: "logo image"
      "content image";
    grid-template-columns: 55% 45%;
    grid-template-rows: 0;

    &__content {
      display: grid;
      place-content: center;
      padding: 0 2rem;

      &-logo {
        top: 7%;
        left: 4%;

        &_img {
          width: 9rem;
        }
      }

      &-info {
        &_title {
          text-align: left;
        }

        &_desc {
          text-align: left;
        }
      }
    }

    &__image {
      background: url(../images/hero-desktop.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media screen and (min-width: 1000px) {
  .base {
    &__content {
      position: relative;
      padding: 3rem 0 0;

      &-logo {
        top: -31rem;
        left: -27rem;
      }

      &-info {
        &_title {
          font-size: 4rem;
          width: 20rem;
          margin-bottom: 1.5rem;
        }

        &_desc {
          width: 27rem;
          line-height: 1.5;
        }

        &_form {
          &_input {
            padding: 1.1rem 6rem 1.1rem 1.5rem;
            font-size: 1.2rem;
          }

          &_error {
            right: 7rem;
            top: 1rem;
          }

          &_btn {
            width: 6rem;
            height: 3.5rem;
          }
        }
      }
    }
  }
}

